<h1>新規施設登録</h1>

<%= form_with model: @room, local: true do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "施設名" %><br />
    <%= f.text_field :name, size: 50 %>
  </div>

  <div>
    <%= f.label :detail, "施設紹介" %><br />
    <%= f.text_area :detail, size: "60x10" %>
  </div>

  <div>
    <%= f.label :price, "宿泊料金（1泊あたり）" %><br />
    <%= f.number_field :price, min: 1 %>
  </div>

  <div>
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address, size: 50 %>
  </div>

  <div>
    <%= f.submit "施設登録" %>
  </div>
<% end %>

<%= link_to '施設一覧に戻る', rooms_path %>
