<div class="container my-5">
  <h1 class="mb-4">検索結果</h1>
<% if @rooms.any? %>
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-md-6 mb-4">
          <div class="card">
            <%= image_tag(room.icon_or_default, class: "img-fluid rounded", style: "max-width: 150px; height: auto;") %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to room.name, room_path(room) %></h5>
              <p class="card-text">
                <strong>施設詳細：</strong><%= truncate(room.detail, length: 50) %><br>
                <strong>宿泊料金：</strong><%= number_to_currency(room.price, strip_insignificant_zeros: true) %><br>
                <strong>住所：</strong><%= room.address %>
              </p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">
    まだ施設が登録されていません。
  </div>
<% end %>
</div>
